:root {
  --c-primary: #51bd05;
  --c-secondary: #12d404;
  --c-tertiary: #a3d404;

  --c-primary-dark: #459f05;

  --c-bg-primary: #f0f0f0;
  --c-bg-secondary: #d2d2d2;
  --c-bg-tertiary: #a5a5a5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
