.wrapper {
  display: flex;
  background-color: var(--c-bg-primary);
  padding: 0.5rem 1rem;
}
.logo {
  font-weight: 750;
  font-size: 2rem;
  color: var(--c-primary);
  text-decoration: none;
}
.user {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  .icon {
    width: 2rem;
    height: 2rem;
    color: var(--c-bg-tertiary);
  }
}
