.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin-bottom: 1rem;
  .icon {
    margin-right: 0.25rem;
  }
}
.hidden {
  visibility: hidden;
}
.input {
  width: 100%;
  max-width: 20rem;
  background-color: white;
  margin-bottom: 1rem;
}
.button {
  background-color: var(--c-primary);
  &:hover {
    background-color: var(--c-primary-dark);
  }
}
